@import "tailwindcss";

@layer utilities {
  .gradiantColor {
    @apply bg-gradient-to-r from-[#632EE3] to-[#9F62F2] bg-clip-text text-transparent;
  }
  .bggradiantcolor {
    @apply bg-gradient-to-r from-[#632EE3] to-[#9F62F2];
  }
}
